@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
*{
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
    font-size: 62.5%;
}
:root{
    /* PRIMARY */
    --VERY-DARK-BLUE: hsl(233, 47%, 7%);
    --DARK-DESATURATED-BLUE: hsl(244, 38%, 16%);
    --SOFT-VIOLET: hsl(277, 64%, 61%);
    /* NEUTRAL */
    --WHITE: hsl(0, 0%, 100%);
    --SLIGHTLY-TRANSPARENT-WHITE_MAIN: hsla(0, 0%, 100%, 0.75);
    --SLIGHTLY-TRANSPARENT-WHITE_STAT:  hsla(0, 0%, 100%, 0.6);
}
body{
    font-family: "Inter", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 1.4rem;
    background-color: var(--VERY-DARK-BLUE);
    color: var(--SLIGHTLY-TRANSPARENT-WHITE_MAIN);
}
.section{
    background-color: var(--DARK-DESATURATED-BLUE);
    height: 66rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
}
.section img{
    width: 100%;
    height: 100%;
    border-radius: 1rem 1rem 0rem 0rem;
    object-fit: cover;
    mix-blend-mode: multiply;
}
figure{
    background-color: var(--SOFT-VIOLET);
    position: relative;
    border-radius: 1rem 1rem 0rem 0rem;
}
.card{
    text-align: center;
}
h1{
    margin: 1.4rem;
    font-size: 2.2rem;
    font-weight: bold;
    font-family: "Lexend Deca", sans-serif;
    color: var(--SLIGHTLY-TRANSPARENT-WHITE_MAIN);
}
span{
    font-size: 2.2rem;
    color: var(--SOFT-VIOLET);
}

.card p{
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.4em;
    margin: 0rem 2rem 1rem 2rem;
}
.card div{
    width: 6rem;
    height: 17rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    margin: 3rem auto 2rem;
}
.bigger{
    font-family: "Lexend Deca", sans-serif;
    font-size: 2rem;
    font-weight: bold;
    color: var(--SLIGHTLY-TRANSPARENT-WHITE_MAIN);
}
.card div p{
    font-weight: 400;
    font-size: 1.2rem;
    text-transform: uppercase;
}
@media (min-width: 600px) {
    .section{
        max-width: 32.2rem;
        max-height: 65rem;
    }
}
@media (min-width: 1024px) {
    body{
        height: 100vh;
    }
    .section{
        max-width: 85rem;
        max-height: 40rem;
        flex-direction: row-reverse;
    }
    .section img{
        width: 100%;
        height: 100%;
        border-radius: 0rem 1rem 1rem 0rem;
    }
    .card{
        width: 50rem;
        text-align: left;
        padding: 4rem 0rem 4rem 4rem;
    }
    h1{
        margin-bottom: 2rem;
        font-size: 2.6rem;
    }
    .bigger{
        font-size: 1.8;
    }
    .card div{
        width: 17rem;
        height: 6rem;
        flex-direction: row;
        margin: 0rem;
        margin-top: 9rem;
    }
    figure{
        border-radius: 0rem 1rem 1rem 0rem;
    }
}